$EtsyOrange: rgb(248, 100, 0);
$backgroundGray: rgb(245, 245, 241);
$linksBlue: rgb(0, 146, 183);


// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
	background-color: $backgroundGray;
}

.navbar-default {
	.navbar-brand {
		color: $EtsyOrange;
	}
}

.search {
	background-color: $linksBlue;
	color: white;

}

.nav-list {
	border-top: 1px solid gray;
}

.category-nav {

	background-color: white;
	padding: 5px 10px 5px 10px;
	margin-bottom: 40px;

	li {
		list-style: none;
		padding: 2px 10px 2px 10px;
	}

	a {

		font-color: $linksBlue;
		padding: 0px;
	}
	
}